/* ===== Footer Design Start ===== */
.footer {
  padding: 60px 0;
  background-color: #252525;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
}
.footer_info {
}
.footer_details {
  padding: 15px 0 20px 0;
  width: 433px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--robotoMono);
}
.follow {
  border-top: 1px solid #fff;
}
.follow h5 {
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  font-family: var(--roboto);
}
.footer_icon {
  display: flex;
  column-gap: 20px;
}
.social_icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343434;
  border-radius: 4px;
  cursor: pointer;
  color: #b0b1b4;
  transition: all linear 0.3s;
}
.social_icon:hover {
  color: #fff;
}
.footer_title {
  padding-bottom: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  font-family: var(--roboto);
}
.footer_links {
  display: flex;
  column-gap: 150px;
}
/* ===== Footer Design End ===== */
