/* ====== Navbar Design Start ===== */
.navabr {
  padding: 16px 0;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.menu ul li a {
  color: var(--headingColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  text-transform: capitalize;
  font-family: var(--roboto);
  transition: all linear 0.3s;
}
.menu ul li a.active {
  color: var(--primary);
}
.menu ul li a:hover {
  color: var(--secondary);
}
.search {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--paragraphColor);
  padding: 5px;
}
.serach_input {
  outline: none;
  border: none;
  color: var(--paragraphColor);
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  font-family: var(--robotoMono);
}
.search_icon {
  cursor: pointer;
  color: var(--headingColor);
  font-size: 18px;
}
.search_icon:hover {
  color: var(--primary);
}
/* ====== Navbar Design End ===== */
